.login-container {
    margin-top: 2em;
    position: relative;
    display: grid;
    grid-gap : 2em;

}

.login-container > * {
    margin-left: auto;
    margin-right: auto;
}



.login-container h1 {
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.login-container input {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    border-bottom-style: solid;
    border-color: white;
    color: white;
    padding: .25em;
    font-size: 1.5em;
    background-color: none;
}

::placeholder {
    color: white;
    opacity: 1;
}

.login-container input:focus {
    -webkit-appearance: none;
}

.login-container img, .register-container img {
    height: 3em;
    width: 16em;
} 

.login-container img:hover, .register-container img:hover {
    cursor: pointer;
}


#sign-up-container {
    display: flex;

}

#sign-up-container p {
    margin : .25em;
    font-size: 1.5em;
}

#sign-up {
    color: var(--primary);
}

#sign-up:hover {
    cursor: pointer;
}

.inputs-format {
    width: 100%;
}

/*

.inputs-format div {
        
    width: 100%;

}

.inputs-format div div {

    text-align: center;
    margin-top: 4em;

}
*/

.grid-template {
    display: grid;
    grid-template-areas:". ."
                        ". .";
    grid-gap: 4em;
    width: 60%;        
    margin-left: auto;
    margin-right: auto;                
}


.grid-template input:nth-child(even){
    margin-left : auto;
}

/*GLOBAL*/
.add-image {
    border-style: solid;
    border-color: var(--primary);
    height: 10em;
    width: 17.5em;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#canvas {
    border-style: solid;
    border-color: var(--primary);
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    height: 10em;
    width: 17.5em;
}

#add-image-outer-container input {
    display: none;
}

.add-image:hover {
    cursor: pointer;
}

.add-image div {
    font-size: 1.5rem;
}


.grid-template input {
    width: 80%;
}

